<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Project A提供了各种免费在线工具（如：JSON解析、时间戳转换等），个人博客（作者经验分享），技术教程（如：Golang、Java、MySQL、Docker等），八卦新闻（国内外新闻）以及学者文章（鸡汤、良药）等。">
    <meta name="author" content="Allen">
    <link rel="icon" href="/static/icon/favicon.ico">
    <title>Project A | 免费在线工具及各种技术教程</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/frame/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <!-- 导航条 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" target="_blank">Project A</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/tool" target="_blank">工具</a></li>
            <li><a href="/blog" target="_blank">博客</a></li>
            <li><a href="#">教程</a></li>
            <li><a href="#">人生</a></li>
            <li><a href="#">新闻</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="站内搜索..." class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>欢迎访问 Project A</h1>
        <p>Project A 提供了许多免费在线工具，如：JSON解析、时间戳转换、二维码生成。并提供了许多技术文章和教程，如：Java、Golang、微信小程序。还有一些人生经历的分享以及日常的新闻八卦等。</p>
        <p>Project A 同时也是一个使用Golang作为后端语言编写的开源项目，假如你也想参与至该项目中来，为该开源项目贡献出一份力，那么请点击下方按钮，加入到该开源项目中来！</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/hkail/projectA" target="_blank" role="button">Join us &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>A</h2>
          <p>Developing...</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>B</h2>
          <p>Developing...</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>C</h2>
          <p>Developing...</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p class="text-center">粤ICP备19054185号</p>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/frame/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
